.List {
    width: 30%;
    border-right: 1px solid rgba(0,0,0,0.3);
    box-sizing: border-box;
    /*padding: 20px;*/
    overflow-y: scroll;
    height: 100vh;
}
.Info {
    width: 68%;
    /*border: 1px solid gray;*/
}
.Country-Item {
    cursor: pointer;
    padding: 0 20px;

}
.Country-Item:hover {
    background: rgba(0,0,0,0.1);
}