.Flag {
    width: 150px;
    height: auto;
    outline: 1px solid rgba(0,0,0,0.2)
}
.Info {
    /*align-self: flex-start;*/
    position: fixed;
    right: 0px;
}
.Border-Names {
    padding: 0;
}
.Border-Names li {
    margin-left: 20px;
}